<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>mosterland_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{366,383}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{366,383}}</string>
                <key>sourceSize</key>
                <string>{396,399}</string>
            </dict>
            <key>mosterland_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{366,383}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{366,383}}</string>
                <key>sourceSize</key>
                <string>{396,399}</string>
            </dict>
            <key>mosterland_frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{366,383}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{366,383}}</string>
                <key>sourceSize</key>
                <string>{396,399}</string>
            </dict>
            <key>mosterland_frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{366,383}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{366,383}}</string>
                <key>sourceSize</key>
                <string>{396,399}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>mosterlandImagenAnimacion.png</string>
            <key>size</key>
            <string>{1474,387}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:185d94f41662e30c00253ca81c23d160:480249df1879d37dff09826714ccd2f7:fe9f88a26f2bd221bfdd799695364d16$</string>
            <key>textureFileName</key>
            <string>mosterlandImagenAnimacion.png</string>
        </dict>
    </dict>
</plist>
