<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>preguntator_frame1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{226,221}}</string>
                <key>offset</key>
                <string>{12,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,116},{226,221}}</string>
                <key>sourceSize</key>
                <string>{406,337}</string>
            </dict>
            <key>preguntator_frame2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{328,221}}</string>
                <key>offset</key>
                <string>{-39,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{328,221}}</string>
                <key>sourceSize</key>
                <string>{406,337}</string>
            </dict>
            <key>preguntator_frame3.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{406,221}}</string>
                <key>offset</key>
                <string>{0,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,116},{406,221}}</string>
                <key>sourceSize</key>
                <string>{406,337}</string>
            </dict>
            <key>preguntator_frame4.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{406,333}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{406,333}}</string>
                <key>sourceSize</key>
                <string>{406,337}</string>
            </dict>
            <key>preguntator_frame5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{406,337}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{406,337}}</string>
                <key>sourceSize</key>
                <string>{406,337}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>preguntatorImagenAnimacion.png</string>
            <key>size</key>
            <string>{1784,341}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a06932cae9993dda346e73918244476:85e6ff49ad8861315906a12eed99c251:b41c8039d8ed7bf241851def20527fa7$</string>
            <key>textureFileName</key>
            <string>preguntatorImagenAnimacion.png</string>
        </dict>
    </dict>
</plist>
